 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 622px;
}

.u-section-1 .u-group-elements-1 {
  width: 923px;
  min-height: 386px;
  height: auto;
  margin: 156px auto 5px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 599px;
  margin: 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 57px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 0.3;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-elements-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 675px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 50px 108px 20px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 9px;
    margin-left: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 571px;
}

.u-section-3 .u-text-1 {
  margin: 1px 108px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px -7px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 8px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 635px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 861px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1302px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 342px;
}

.u-section-4 .u-text-1 {
  margin: 0 108px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px -70px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 444px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 665px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 304px;
}

.u-section-5 .u-text-1 {
  margin: 0 108px;
}

.u-section-5 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px -108px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 50px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 462px;
}

.u-section-6 .u-text-1 {
  margin: 0 108px;
}

.u-section-6 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px 50px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 462px;
}

.u-section-7 .u-text-1 {
  margin: 0 108px;
}

.u-section-7 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px 50px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 432px;
}

.u-section-8 .u-text-1 {
  margin: 0 108px;
}

.u-section-8 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px 20px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 373px;
}

.u-section-9 .u-text-1 {
  margin: 0 108px;
}

.u-section-9 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px -39px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 512px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 883px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 380px;
}

.u-section-10 .u-text-1 {
  margin: 0 108px;
}

.u-section-10 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px -32px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 518px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 845px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 502px;
}

.u-section-11 .u-text-1 {
  margin: 0 108px;
}

.u-section-11 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px 0;
}

.u-section-11 .u-text-3 {
  margin-left: 108px;
  margin-right: 108px;
  margin-bottom: 50px;
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 8px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 542px;
}

.u-section-12 .u-text-1 {
  margin: 0 108px;
}

.u-section-12 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px 50px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 380px;
}

.u-section-13 .u-text-1 {
  margin: 0 108px;
}

.u-section-13 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px -112px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 778px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 542px;
}

.u-section-14 .u-text-1 {
  margin: 0 108px;
}

.u-section-14 .u-text-2 {
  font-size: 1.5rem;
  margin: 28px 108px 50px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-14 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}