name: Build and Deploy

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    container:
      image: python:2.7.18-buster # Use a specific Python 2.7 image

    strategy:
      matrix:
        node-version: [16.x]

    steps:
    - uses: actions/setup-java@v5
      with:
        distribution: 'oracle'
        java-version: '8'
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: npm install
      run: |
        npm install json5
        npx lerna link --force-local
        npx lerna exec -- npm install
        npx lerna link --force-local
      env:
        CI: true
    - name: npm build
      run: | 
        cd packages/scratch-gui
        npm run build --if-present
      env:
        CI: true 
    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch
    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@3.1.3
      with:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: 'packages/scratch-gui/build'
        TARGET_FOLDER: ${{ steps.extract_branch.outputs.branch }}
