name: Generate Extension Documentation

on: [push]
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  generate:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.17.1]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Initialize
      run: npm run init
    - name: Generate
      run: npm run document:extensions
    - name: Commit (without CI)
      run: |
        git config --local user.email ""
        git config --local user.name "GitHub Action"
        git add extensions/documentation/README.md
        git commit -m "[skip ci] re-generate extension documentation"
    - name: Push
      run: git push